
.animate-show {
  opacity: 1;
}
.animate-show.ng-hide {
  opacity: 0;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

